<div class="navbar-area">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <!-- Logo -->
            <a class="navbar__brand" href="#">
                <img src="/images/logo.png" alt="logo" width="120">
            </a>
            <!-- Acciones -->
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav navbar__actions">
                    <li>
                        <a href="#">Inicio</a>
                    </li>
                    <li>
                        <a href="#">Reserva</a>
                    </li>
                    <li>
                        <a href="#">Contacto</a>
                    </li>
                </ul>

                <!-- Form -->
                 <div>
                    <form class="search-box" action="" method="get">
                        <input class="form-control" type="search" name="q" placeholder="Buscar">
                        <button class="search-btn" type="submit"><i class="ri-search-eye-line"></i></button>
                    </form>
                 </div>
            </div>
        </nav>
    </div>
</div>