<div class="top-header">
    <!-- container (bootstrap) -->
    <div class="container">
        <!-- row (bootstrap) -->
        <div class="row align-items-center">
            <!-- N Telefono -->
            <!-- col 6/12 (bootstrap) -->
            <div class="col-lg-6 col-sm-6">
                <ul class="top-header__left-content">
                    <li>
                        <a href="#">
                            <img src="/images/icons/call.svg" alt="llamar"> +56 987654321
                        </a>
                    </li>
                </ul>
            </div>
            <!-- Acciones -->
            <div class="col-lg-6 col-sm-6">
                <ul class="top-header__right-content">
                    <li>
                        <a href="#">Iniciar sesión</a>
                    </li>
                    <li>
                        <a href="#">Registrarse</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>