/* You can add global styles to this file, and also import other style files */
:root {

    --accent: #7d35f1;
    --accent-hover: #924dff;
    --font-size: 16px;
    --secondary-bg: #efefef;
    --primary-fg: #060606;
    --primary-fg-hover: #7d35f1;
    --secondary-fg: #696969;
    --transition-duration: .3s;
}