<div class="row align-items-center justify-content-center">
    <div class="col-xl-5 col-lg-12 col-sm-12">
        <a class="d-block">
            <img src="{{hotel?.picture}}" alt="{{hotel?.name}}" width="300" height="200">
        </a>
    </div>
    <div class="col-xl-4 col-lg-6 col-sm-7">
        <div class="content">
            <h3>
                <a href="#">{{hotel?.name}}</a>
            </h3>
            <p>{{hotel?.description}}</p>
            <p>{{hotel?.street}} {{hotel?.number}}, {{hotel?.cityName}}</p>
            <div class="rating">
                <i class="ri-star-fill"></i>
                <i class="ri-star-fill"></i>
                <i class="ri-star-fill"></i>
                <i class="ri-star-fill"></i>
                <i class="ri-star-half-fill"></i>
            </div>
            <p>
                @if (rating()) {
                    {{rating()}}/5 Maravilloso
                } ({{reviewCount()}} reviews)</p>
            <div class="price">{{hotel?.price | currency}} <span>por noche</span></div>
            <a class="default-btn" href="#">Reservar</a>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-sm-5">
        <ul class="features">
           @for (service of hotel?.services; track service.id) {
                <li>
                    <!-- <i class="service.id | icon"></i> throws parse error :/-->
                    <i [class]="service.id | icon"></i>
                    <span>{{service.name}}</span>
                </li>
           }
        </ul>
    </div>
</div>